*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    line-height: 1.5;
}

main {
    margin: 0% 15%;
    /* outline: 2px blue dashed; */
}

html {
    font-family: 'JetBrains Mono', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

.highlight {
    font-weight: bold;
}

.container {
    /* outline: 2px red dashed; */
    margin-top: 1rem;
}

.navbar {
    display: flex; /* Aligns items horizontally */
    justify-content: space-between; /* Separates left and right sections */
    align-items: center; /* Vertically aligns items */
    padding: 1rem 15%; /* Adds spacing inside the navbar */
    background-color: #edf5fd; /* Background color for the navbar */
    border-bottom: 1px solid #999999;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

/* Flex container for image and text */
.flex {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem;
    align-items: center;
}

.flex img {
    margin-top: 1rem;
    height: 40%;
    width: 40%;
    border-radius: 10%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}