*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'JetBrains Mono', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

body {
    min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
}

.container {
    outline: 2px red dashed;
    margin: 2rem 20%;
    padding: 1rem;
}

p {
    margin-top: 1.5rem;
}

.highlight {
    font-weight: bold;
}