*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-family: 'JetBrains Mono', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh; /* Full height of the viewport */
}

main {
    margin: 0% 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}

main p {
    margin-top: 1rem;
}

@media (max-width: 1440px) {
    main {
        margin: 0% 5%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
    }
}

.section {
    display: flex;
    align-items: center;
}

.center {
    justify-items: center;
}

.highlight {
    font-weight: bold;
}

.navbar {
    display: flex; /* Aligns items horizontally */
    justify-content: space-between; /* Separates left and right sections */
    align-items: center; /* Vertically aligns items */
    padding: 1rem 15%; /* Adds spacing inside the navbar */
    background-color: #edf5fd; /* Background color for the navbar */
    border-bottom: 1px solid #999999;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50%;
}

/* Flex container for image and text */
.flex {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem;
    align-items: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.flex img {
    margin-top: 1rem;
    height: 480px;
    width: auto;
    border-radius: 10%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);   
}

.flex-col {
    flex-direction: column;
}

.text-content {
    flex: 1;
}


.outline {
    outline: 2px red dashed;
}
.outline1 {
    outline: 2px green dashed;
}
.outline2 {
    outline: 2px blue dashed;
}
.outline3 {
    outline: 2px goldenrod dashed;
}
.outline4 {
    outline: 2px pink dashed;
}